.home_trip_banner {
  margin: 0 auto;
  width: 100%;
}

.home_trip_img {
  position: relative;
  width: 100%;
  height: 440px;
  transition: filter 0.2s;
  cursor: pointer;
}

.home_trip_img:hover {
  filter: brightness(0.9);
}

@media only screen and (max-width: 600px) {
  .home_trip_banner {
    margin: 0 auto;
    height: 163px;
  }

  .home_trip_img {
    width: 100%;
    height: 280px;
  }
}

.home_trip_heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 48px;
}

.home_trip_subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-weight: 600;
  font-size: 24px;
}

